.addProductH2{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content: space-between;
    margin: 0px;
    padding: 4px;
    margin-bottom: 20px;
}

@media(max-width: 450px) {
    .addProductH2{
        flex-direction: column;
    }
}
.H2{
    margin: 0px !important;
}

.mainAddProduct{
    padding: 8px;
}

.bg-secondary{
    border-radius: 20px ;
}

.productImage{
    margin-right: 120px !important;
}

.productImg{
    margin-top: 10px;
    padding: 8px;
}

.productImgs{
    margin-top: 20px;
}
.productSubmitBtn{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.bg-secondary{
    /* background-color: #d9d9d9 !important; */
}

.addProductLabel{
    margin-top: 18px;
}

.text-warning{
    color: #e9c46a !important;
}

.addH2{
    /* color: #219ebc !important */
    color: #023047 !important
}

.productCam{
    width: 100%;
}

.canvDiv{
    width: 100%;
}