.navbar{
    background-color: #1a334e !important; 
}

.navbar-toggler{
    color: white !important;
    background-color: white !important;
}

.profile-pic{
    margin-right: 10px;
}

.profile img{
    width: 40px;
    border-radius: 50%;
    object-fit: fill;
}
.profile p{
    color: white;
}
.profile h3{
    font-size: larger;
    margin: 0;
}

.logo{
    margin-left: 40px;
}

a i{
    margin-right: 10px;
}

h5{
    display: inline-block;
}


.logo:hover ,.bi-search:hover ,.bi-person-fill:hover ,.bi-heart-fill:hover , .bi-cart:hover{
    transition: all 200ms ease-in-out;
    /* color:  rgb(160, 160, 160) !important; */
    color:  rgb(121, 121, 121) !important;
}



nav a{
    color: white !important;
    font-family: 'cardo';
}
.profile p{
    font-size: small;
    margin: 0;
}
.profile{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.headerLinkColor{
    color: #1a334e !important;
}

.HomeBottonMargin{
    margin-left: 8px;
}

.profile-p{
    margin-left: 8px !important;
}