body {
  padding-top: 100px;
}

#content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.column {
  width: 600px;
  padding: 10px;
}

#featured {
  display: flex;
  max-width: 300px;
  max-height: 400px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}
.featuredImage {
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumbnail {
  object-fit: cover;
  max-width: 100px;
  max-height: 80px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  border: 1px solid black;
}

.thumbnail:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

#slide-wrapper {
  max-width: 500px;
  display: flex;
  min-height: 100px;
  align-items: center;
}

#slider {
  width: 440px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

#slider::-webkit-scrollbar {
  width: 8px;
}

#slider::-webkit-scrollbar-thumb {
  background-color: #dede2e;
  outline: 1px solid slategrey;
  border-radius: 100px;
}

#slider::-webkit-scrollbar-thumb:hover {
  background-color: #18b5ce;
}

.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover {
  opacity: 0.5;
  width: 35px;
  height: 35px;
}

.productName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 10px;
}
.priceBtn {
  border: solid 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: white;
}
.currentPrice {
  color: crimson;
  font-size: x-large;
}
.pastPrice {
  color: gray;
}
