body {
  padding-top: -100px;
}

#content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.column {
  width: 600px;
  padding: 8px;
}

#featured {
  display: flex;
  max-width: 300px;
  max-height: 400px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}
.featuredImage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumbnail {
  object-fit: cover;
  max-width: 100px;
  max-height: 80px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  border: 1px solid black;
}

.thumbnail:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

#slide-wrapper {
  max-width: 500px;
  display: flex;
  min-height: 100px;
  align-items: center;
}

#slider {
  width: 440px;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

#slider::-webkit-scrollbar {
  width: 8px;
}

#slider::-webkit-scrollbar-thumb {
  background-color: #dede2e;
  outline: 1px solid slategrey;
  border-radius: 100px;
}

#slider::-webkit-scrollbar-thumb:hover {
  background-color: #18b5ce;
}

.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover {
  opacity: 0.5;
  width: 35px;
  height: 35px;
}

.productName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
}
.priceBtn {
  border: solid 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: white;
}
.currentPrice {
  color: crimson;
  font-size: x-large;
}
.pastPrice {
  color: gray;
  margin-top: -5px;
  margin-bottom: -5px;
}

.sizes {
  margin-top: 6px;
}
.desc {
  margin-top: -24px;
}
.ptitle {
  text-align: center;
  margin-top: 0;
}
.featuredImage {
  margin-top: 20px;
}

.productName {
  margin-top: 60px;
  margin-bottom: -10px;
}

.ratingStars {
  text-align: center;
}

.row2 {
  margin-top: 20px;
}

#selectOpt {
  height: 100%;
  width: 100%;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  height: 1px;
}

.card_img {
  height: 240px;
  width: 100%;
  object-fit: contain;
}

@media (min-width: 768px) {
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be absolue position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

.testimonialContainer {
  border: 2px solid rgba(0, 0, 0, 0.363);
  background-color: rgb(207, 235, 218);
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}
.profilePic {
  width: 100px;
  height: 100px;
}
.testimonialContainer::after {
  content: "";
  clear: both;
  display: table;
}
.testimonialContainer img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
.testimonialContainer span {
  font-size: 24px;
  font-weight: 500;
  margin-right: 15px;
  color: black;
}
.testimonialContainer p {
  font-size: 18px;
  font-style: oblique;
}
@media (max-width: 500px) {
  .testimonialContainer {
    text-align: center;
  }
  .testimonialContainer img {
    margin: auto;
    float: none;
    display: block;
  }
}
