.profileH2{
    margin-top: 40px;
    margin-bottom: 60px;
}

.noBORDER-RL{
    border-left: none;
    border-right: none;
}

.profileP{
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-icon{
    margin: 0px;
    margin-top: 25px;
    /* margin-left: 50px; */
    width: 16px;
    height: 16px;
}

.profileEmail{
    margin-top: 10px;
}

/* .active{
    background-color: rgb(245, 129, 109) !important;
} */

.genderLabel{
    display: block !important;
}