<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <a class="navbar-brand logo" href="/home">Shoppy store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end align-middle" id="navbarScroll">
            <div class="profile">
                <h3><img src="/static/common/images/abd/profile.jpg"/></h3>
                <p class="p-prfile-pic">Hello, test</p>
            </div>
            <div class="header-icons">
                <h5>
                    <a href="#"><i class="bi bi-search"></i></a>
                </h5>
                <h5>
                    <a href="#"><i class="bi bi-person-fill"></i></a>
                </h5>
                <h5>
                    <a href="#"><i class="bi bi-heart-fill"></i></a>
                </h5>
                <h5>
                    <a href="#"><i class="bi bi-cart"></i></a>
                </h5>
            </div>
        </div>
    </nav>
</header>