<%- contentFor("title") %>
    My Cart

<%- contentFor("styles") %>
<link rel="stylesheet" href="/static/common/styles/cart.css">

<%- contentFor("content") %>
    <div class="basket">

        <div class="basket-labels">
        <ul>
            <li class="item item-heading">Item</li>
            <li class="price">Price</li>
            <li class="quantity">Quantity</li>
            <li class="subtotal">Subtotal</li>
        </ul>
        </div>
        <div class="basket-product">
            <div class="item">
            <div class="product-image">
                <img src="/static/common/images/malik/shoes2.jpg" alt="Placholder Image 2" class="product-frame">
            </div>
            <div class="product-details">
                <h1><strong><span class="item-quantity">4</span> x Reebok Shoes </strong>Bundle of 2 Fashion Sneakers for women- Black & white </h1>
                <p><strong>Navy, Size 38</strong></p>
                <p>Product ID - 277</p>
            </div>
            </div>
            <div class="price">26.00</div>
            <div class="quantity">
            <input type="number" value="4" min="1" max="5" class="quantity-field">
            </div>
            <div class="subtotal">104.00</div>
            <div class="remove">
                <button>Remove</button>
            </div>
        </div>
        <div class="basket-product">
            <div class="item">
                <div class="product-image">
                <img src="/static/common/images/malik/shoes1.jpg" alt="Placholder Image 2" class="product-frame">
                </div>
                <div class="product-details">
                <h1><strong><span class="item-quantity">1</span> x Sport Shoes</strong> SPORT Fashion Sneakers for Men - Black</h1>
                <p><strong>Navy, Size 40</strong></p>
                <p>Product Code - 232</p>
                </div>
            </div>
            <div class="price">26.00</div>
            <div class="quantity">
                <input type="number" value="1" min="1" class="quantity-field">
            </div>
            <div class="subtotal">26.00</div>
            <div class="remove">
                <button>Remove</button>
            </div>
        </div>
    </div>
    
    <aside>
        <div class="summary">
            <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
            <div class="summary-subtotal">
            <div class="subtotal-title">Subtotal</div>
            <div class="subtotal-value final-value" id="basket-subtotal">130.00</div>
            </div>
            <div class="summary-delivery">
            <select name="delivery-collection" class="summary-delivery-selection">
                <option value="0" selected="selected">Select Collection or Delivery</option>
                <option value="collection">Collection on Site</option>
                <option value="first-class">1st Class</option>
                <option value="second-class">2nd Class</option>
                <option value="signed-for">Special Delivery</option>
            </select>
            </div>
            <div class="summary-total">
            <div class="total-title">Total</div>
            <div class="total-value final-value" id="basket-total">130.00</div>
            </div>
            <div class="summary-checkout">
            <button class="checkout-cta">Go to Secure Checkout</button>
            </div>
        </div>
    </aside>
