<%- contentFor("title") %>
    Products

<%- contentFor("styles") %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/common/styles/Orders.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    
<%- contentFor("content") %>
    <div class="container" >
        <div id="content-wrapper" class="row">
		
            <div class="column col-md-4">
                
                <div class="productName"> Reebok Almotio 5.0 Running Shoe Navy </div>
                <div class="featuredImage">
                    <img id="featured" src="/static/common/images/malik/p21.jpg" alt="Reebok Almotio 5.0 Running Shoe Navy">
                </div>
                <div id="slide-wrapper">
                    
                    <img id="slideLeft" class="arrow" src="/static/common/images/malik/leftArrow.png">
                    <div id="slider">
                        <img class="thumbnail active" src="/static/common/images/malik/p22.jpg" alt="Reebok Almotio 5.0 Running Shoe Navy">
                        <img class="thumbnail" src="/static/common/images/malik/p23.jpg" alt="Reebok Almotio 5.0 Running Shoe Navy">
                        <img class="thumbnail" src="/static/common/images/malik/p24.jpg" alt="Reebok Almotio 5.0 Running Shoe Navy">
                        <img class="thumbnail" src="/static/common/images/malik/p25.jpg" alt="Reebok Almotio 5.0 Running Shoe Navy">
                    </div>
                    <img id="slideRight" class="arrow" src="/static/common/images/malik/rightArrow.png">
                </div>
                
            </div>
            
            <div class="column col-md-4">
                <h2 class="ptitle">Awesome Shoes</h2>
                <hr>
                <span class="currentPrice"> $89.99 <span style="color: black;font-size: x-small;">(in stock)</span></span>
                <div> <p class="pastPrice" ><s>$120</s>  You save $39.99!</p></div>
                <p class="pastPrice" > All prices include the value added tax.</p>
                <h5 class="sizes">Sizes: </h5>
                    <div class="d-flex bd-highlight mb-3">
                        <div class="p-2 bd-highlight"><button class="priceBtn" > 45 EU </button></div>
                        <div class="p-2 bd-highlight"><button class="priceBtn" > 42 EU </button></div>
                        <div class="p-2 bd-highlight"><button class="priceBtn" > 38 EU </button></div>
                    </div>
                <hr>
                <h5 class="desc"> Description: </h5>
                <ul>
                    <li>Imported</li>
                    <li>Rubber sole</li>
                    <li>Shaft measures approximately low-top from arch</li>
                    <li>Breathable mesh upper with supportive synthetic overlays</li>
                </ul>
                <!-- <input value=1 type="number">
                <a class="btn btn-outline-primary" href="#">Add to Cart</a> -->
            </div>

            <div class="column col-md-4"  style="margin-top: -200px;">
                <div class="row row1">
                    <div class="font-size-xs ratingStars">
                        <span> <i class="fas fa-star"> </i></span>
                        <span> <i class="fas fa-star"> </i></span>
                        <span> <i class="fas fa-star"> </i></span>
                        <span> <i class="fas fa-star"> </i></span>
                        <span> <i class="fas fa-star" style="color:lightgray;"> </i></span>
                        <div style="font-size: smaller; text-align: center;"> reviews(6) </div>
                    </div>
                </div>
                <div class="row row2" style="display: flex;justify-content: space-around;align-items: center;">
                    <div>  
                        <select class="custom-select" name="" id="selectOpt">
                            <option value="1" selected="true">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>

                    <div>
                        <button class="btn btn-block btn-dark" type="submit"> Add to Cart<i class="bi bi-cart" style="margin-left: 8px;"></i> </button>
                    </div>
                    <div>
                        <button class="btn btn-block btn-outline-dark" type="submit"> Wishlist<i class="bi bi-heart" style="margin-left: 8px;"></i> </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row separator">
            <hr style="background-color: lightgray; height: 2px; ">
        </div>
        
        <div class="row separator">
            <hr style="background-color: lightgray; height: 2px; ">
        </div>
        
        <div class="row">
            <div class="card-deck">
                <div class="card">
                <img class="card-img-top" src="/static/common/images/malik/shoes1.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Shoes</h5>
                    <p> SPORT Fashion Sneakers for Men - Black </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="/static/common/images/malik/shoes2.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Shoes</h5>
                        <p>Roma Fashion Sneakers Shoes For Men - Havana </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="/static/common/images/malik/shoes3.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Shoes</h5>
                        <p> SPORT Fashion Sneakers Lace Up Shoes For Women For Men - black </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                </div>

                    <!-- <h2>Responsive Testimonials</h2>
                    <p>Resize the browser window to see the effect.</p> -->

    <div class="container">
    <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:90px">
    <p><span>Chris Fox.</span> CEO at Mighty Schools.</p>
    <p>John Doe saved us from a web disaster.</p>
    </div>

    <div class="container">
    <img src="/w3images/avatar_g2.jpg" alt="Avatar" style="width:90px">
    <p><span>Rebecca Flex.</span> CEO at Company.</p>
    <p>No one is better than John Doe.</p>
    </div>
                </div>
            </div>

        


    </div>
    <script>
        let thumbnails = document.getElementsByClassName('thumbnail')
		let activeImages = document.getElementsByClassName('active')

		for(var i=0; i < thumbnails.length; i++){
			thumbnails[i].addEventListener('mouseover', function(){
				console.log(activeImages)
				if (activeImages.length > 0){
					activeImages[0].classList.remove('active')
				}
				this.classList.add('active')
				document.getElementById('featured').src = this.src
			})
		}

        let buttonRight = document.getElementById('slideRight');
		let buttonLeft = document.getElementById('slideLeft');

		buttonLeft.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft -= 180
		})

		buttonRight.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft += 180
		})
    </script>

    <script>
    $( ".card" ).hover(
    function() {
        $(this).addClass('shadow-lg').css('cursor', 'pointer'); 
    }, function() {
        $(this).removeClass('shadow-lg');
    }
    );
    </script>