<%- contentFor('title') %>
    Profile

<%- contentFor("styles") %>
<!-- For CSS -->
<link rel="stylesheet" href="/static/common/styles/adminAdd.css">



<%- contentFor('content') %>
    <div class="container">

    </div>


<%- contentFor('script') %>
    <!-- For scripts -->
    <!-- <script src="/static/common/scripts/profileImage.js"></script> -->