<%- contentFor('title') -%>
Admin 
<%- contentFor('content') -%>
<h4> Products page</h4>
    <div class="container">
                <div class="row d-flex">
                    <div class="p-2"><button class="btn btn-primary"> Add Product </button></div>
                    <div class="p-2"><button class="btn btn-primary"> Edit Product </button></div>
                    <div class="ml-auto p-2"><button class="btn btn-danger"> Delete Product</button></div>
                </div>
                <div class="row"> <hr style="background-color: grey;width: 80%;"> </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                                <table id="mytable" class="table table-bordred table-striped">
                                    <thead>                           

                                    <th>Product Name</th>
                                        <th>Product ID</th>
                                        <th> Supplier Address</th>
                                        <th>Email</th>
                                        <th>Contact</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td>Dell Inspiron</td>
                                        <td>12312</td>
                                        <td>CB 106/107 Street # 11 Terminal District of No Bugs</td>
                                        <td>isometric.terminal@gmail.com</td>
                                        <td>+923335586757</td>
                                        <td><a class="btn btn-warning" href="/admin/editproduct/dress_123" >Edit</a></td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Dell Inspiron</td>
                                            <td>12312</td>
                                            <td>CB 106/107 Street # 11 Terminal District of No Bugs</td>
                                            <td>isometric.terminal@gmail.com</td>
                                            <td>+923335586757</td>
                                        </tr>
                                        <tr>
                                            <td>Dell Inspiron</td>
                                            <td>12312</td>
                                            <td>CB 106/107 Street # 11 Terminal District of No Bugs</td>
                                            <td>isometric.terminal@gmail.com</td>
                                            <td>+923335586757</td>
                                        </tr>

                                        <tr>
                                            <td>Dell Inspiron</td>
                                            <td>12312</td>
                                            <td>CB 106/107 Street # 11 Terminal District of No Bugs</td>
                                            <td>isometric.terminal@gmail.com</td>
                                            <td>+923335586757</td>
                                        </tr>
                                        <tr>
                                            <td>Dell Inspiron</td>
                                            <td>12312</td>
                                            <td>CB 106/107 Street # 11 Terminal District of No Bugs</td>
                                            <td>isometric.terminal@gmail.com</td>
                                            <td>+923335586757</td>
                                        </tr>
                                        <tr>
                                            <td>Dell Inspiron</td>
                                            <td>12312</td>
                                            <td>CB 106/107 Street # 11 Terminal District of No Bugs</td>
                                            <td>isometric.terminal@gmail.com</td>
                                            <td>+923335586757</td>
                                        </tr>
                                        <tr>
                                            <td>Dell Inspiron</td>
                                            <td>12312</td>
                                            <td>CB 106/107 Street # 11 Terminal District of No Bugs</td>
                                            <td>isometric.terminal@gmail.com</td>
                                            <td>+923335586757</td>
                                        </tr>
                                        <tr>
                                            <td>Dell Inspiron</td>
                                            <td>12312</td>
                                            <td>CB 106/107 Street # 11 Terminal District of No Bugs</td>
                                            <td>isometric.terminal@gmail.com</td>
                                            <td>+923335586757</td>
                                        </tr>
                                        
                                        
                                        
                                        <tr>
                                            <td>Dell Inspiron</td>
                                            <td>12312</td>
                                            <td>CB 106/107 Street # 11 Terminal District of No Bugs</td>
                                            <td>isometric.terminal@gmail.com</td>
                                            <td>+923335586757</td>
                                        </tr>
                                        
                                        
                                        <tr>
                                            <td>Dell Inspiron</td>
                                            <td>12312</td>
                                            <td>CB 106/107 Street # 11 Terminal District of No Bugs</td>
                                            <td>isometric.terminal@gmail.com</td>
                                            <td>+923335586757</td>
                                        </tr>
                                        
                                    </tbody>
                                    
                                </table>
                                <nav aria-label="..." class="row" style="display: flex; align-items: center;justify-content: center;">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#">Previous</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item active">
                                            <span class="page-link">
                                            2
                                            <span class="sr-only">(current)</span>
                                            </span>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                        </div>
                    </div>
                </div>
    </div>